/****** SITE-WIDE DEFAULTS ******/
a {
    text-decoration: none;
}

body, button, input {
    font-family: var(--montserrat);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

/****** ALL PAGES - HEADER & NAVIGATION ******/
/* [All Pages - Header & Navigation] Container */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--dark-blue);
    height: 50px;
    padding: 0 10px 0 27px;
}

/* [All Pages - Header & Navigation] Logo - "Pixify" */
.logo-navigation {
    color: var(--cyan);
    font-size: var(--logo-font-size);
}

/* [All Pages - Header & Navigation] Right Anchor Container */
.navigation-container {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-right: 10px;
}

/* [Submissions, About Us & Details Pages - Header & Navigation] "Dark Mode" */
.theme-button {
    background-color: transparent;
    border: none;
    color: var(--cyan);
    cursor: pointer;
    font-size: 16px;
    padding-left: 35px;
}

/* [All Pages - Header & Navigation] Anchors */
nav a {
    color: var(--white);
}

/****** LANDING PAGE - MAIN SECTION ******/
/* [Landing Page - Main Section] Background Image */
.landing-page-main-container img {
    display: block;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

/* [Landing Page - Main Section] Paragraph & Button Container */
.landing-page-content-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

    position: fixed;
    bottom: 0;
}

/* [Landing Page - Main Section] Paragraph Container */
.landing-page-content-container >:first-child {
    background-color: var(--dark-blue);
    border-radius: 150px 150px 150px 0;
    color: var(--white);
    font-size: var(--landing-page-p-font-size);
    max-width: 660px;
    padding: 50px 35px 30px 25px;
    text-align: center;
}

/* [Landing Page - Main Section] Button - "Submit Now" */
.landing-page-content-container >:nth-child(2) a {
    background-color: transparent;
    border: 2px solid var(--cyan);
    border-radius: 60px;
    color: var(--cyan);
    cursor: pointer;
    display: inline-block;
    font-size: 36px;
    margin: 0 25px 25px 0;
    padding: 36px;
}

/****** SUBMISSIONS PAGE - MAIN SECTION ******/
/* [Submissions Page] Main Container */
.submissions-page-main-container {
    margin: 55px 60px 60px 70px;
    text-align: center;

    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 70px;
}

/* [Submissions Page] Individual Submissions Container (Populated with JavaScript) */
#images-container {
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 70px;
}

/* [Submissions Page] Submission Images */
#images-container img {
    border-radius: 8px;
    width: 100%;
}

/* [Submissions Page] Submission Details Container - "Title - Name    see more" */
.submission-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* [Submissions Page] Submission Anchors */
#images-container a {
    color: var(--black);
}

/* [Submissions Page] "See More" */
.see-more {
    font-size: 12px;
}

/* [Submissions Page] Form Container */
.submissions-page-main-container >:nth-child(2) form {
    background-color: var(--dark-blue);
    border-radius: 8px;
    margin-right: 60px;
    padding: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

/* [Submissions Page] Form h2 - "SUBMIT YOUR WORK" */
.submissions-page-main-container >:nth-child(2) form h2 {
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
}

/* [Submissions Page] Form Input Fields */
.submissions-page-main-container >:nth-child(2) form input {
    border-radius: 8px;
    font-size: var(--submissions-page-input-font-size);
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
}

/* [Submissions Page] Form Input Field Placeholders */
::placeholder {
    color: var(--light-gray);
}

/* [Submissions Page] Button - "SUBMIT" */
#form-submit-button {
    background-color: transparent;
    border: 2px solid var(--cyan);
    border-radius: 60px;
    color: var(--cyan);
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 15px 55px;
}

/****** DETAILS PAGE - MAIN SECTION ******/
/* [Details Page] Main Container */
.details-page-main-container {
    display: flex;
    flex-direction: column;

    margin: 40px 160px 100px 160px;
    text-align: center;
}

/* [Details Page] Current Name h2 */
.details-page-main-container h2 {
    font-size: 36px;
    padding: 20px 0 40px 0;
}

/* [Details Page] Current Image */
.current-image {
    width: 100%;
}

/* [Details Page] Current Image Number - "# of #" */
.current-image-number {
    font-size: 20px;
    padding: 20px 0 35px 0;
}

/* [Details Page] Buttons Container */
.details-page-buttons-container {
    display: flex;
    justify-content: space-between;

    align-self: center;
    width: 240px;
}

/* [Details Page] Buttons - "Previous" & "Next" */
.details-page-button {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 60px;
    color: var(--cyan);
    cursor: pointer;
    font-size: 20px;
    padding: 5px 20px;
}

/****** ABOUT US PAGE - MAIN SECTION ******/
/* [About Us Page] Main Container */
.about-us-page-main-container {
    margin: 30px 60px 100px 80px;
}

/* [About Us Page] h1 Text */
.about-us-page-main-container h1 {
    margin-bottom: 40px;
}

/* [About Us Page] Paragraph Text */
.about-us-page-main-container p {
    font-size: var(--about-us-page-p-font-size);
    margin-bottom: 30px;
}

/* [About Us Page] Top Blurb Container */
.about-us-page-main-container >:first-child {
    text-align: center;
}

/* [About Us Page] Bottom Details & Image Container */
.about-us-page-main-container >:nth-child(2) {
    display: flex;
    column-gap: 40px;

    margin-top: 65px;
}

/* [About Us Page] Left-Side Mission Statement Container */
.about-us-mission-statement-container {
    width: 70%;
}

/* [About Us Page] Left-Side Mission Statement Paragraph Text */
.about-us-mission-statement-container p {
    padding-bottom: 10px;
}

/* [About Us Page] Left-Side Mission Statement Deadline - "DEADLINE: 17TH..." */
.about-us-mission-statement-container >:nth-child(4) {
    padding-bottom: 60px;
    padding-top: 20px;
}

/* [About Us Page] Left-Side Mission Statement Button - "SUBMIT NOW" */
#about-us-submit-button {
    background-color: var(--dark-blue);
    border-radius: 60px;
    color: var(--cyan);
    font-size: 36px;
    margin: 0 25px 25px 0;
    padding: 30px 65px;

}

/* [About Us Page] Right-Side Banner Container */
.about-us-banner-container {
    width: 30%;
}

/* [About Us Page] Right-Side Banner Image */
.about-us-banner-container img {
    border-radius: 8px;
    width: 100%;
}