/****** SUBMISSIONS PAGE - MAIN SECTION ******/
/* [Submissions Page] Main Container */
main {
    margin: 55px 60px 60px 70px;
    text-align: center;

    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 70px;
}

/* [Submissions Page] Individual Submissions Container (Populated with JavaScript) */
#images-container {
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 70px;
}

/* [Submissions Page] Submission Images */
#images-container img {
    border-radius: 8px;
    width: 100%;
}

/* [Submissions Page] Submission Details Container - "Title - Name    see more" */
.submission-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* [Submissions Page] Submission Anchors */
#images-container a {
    color: var(--black);
}

/* [Submissions Page] "See More" */
.see-more {
    font-size: 12px;
}

/* [Submissions Page] Form Container */
main >:nth-child(2) form {
    background-color: var(--dark-blue);
    border-radius: 8px;
    margin-right: 60px;
    padding: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

/* [Submissions Page] Form h2 - "SUBMIT YOUR WORK" */
main >:nth-child(2) form h2 {
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
}

/* [Submissions Page] Form Input Fields */
main >:nth-child(2) form input {
    border-radius: 8px;
    font-size: var(--submissions-page-input-font-size);
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
}

/* [Submissions Page] Form Input Field Placeholders */
::placeholder {
    color: var(--light-gray);
}

/* [Submissions Page] Button - "SUBMIT" */
#form-submit-button {
    background-color: transparent;
    border: 2px solid var(--cyan);
    border-radius: 60px;
    color: var(--cyan);
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    padding: 15px 55px;
}