* {
    /* Color Palette */
    --black: #000000;
    --cyan: #7BFFE9;
    --dark-blue: #2A3B49;
    --light-gray: #D9D9D9;
    --white: #FFFFFF;

    /* Margin & Padding */

    /* Font Family */
    --montserrat: 'Montserrat', sans-serif;

    /* Font Size */
    --logo-font-size: 36px;

    --h1-font-size: 36px;

    --about-us-page-p-font-size: 20px;
    --details-page-p-font-size: 20px;
    --landing-page-p-font-size: 30px;

    --submissions-page-input-font-size: 16px;

    /* Font Weight */
    --h1-font-weight: 700;
}